@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color: #E4DDCF;
  --accent-bg-color: #ffffff;
  --text-color: #1a1a1a;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

hr {
  width: 50px;
  height: 2px;
  background-color: black;
}

body {
  background-color: var(--bg-color);
  padding: 2rem;
  height: 100vh;
}

.main {
  background-color: var(--accent-bg-color);
  width: 100%;
  height: 100vh;

  padding: 1rem;
}

.navigator {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color);
  border-radius: 2rem;

  border: 1px solid black;

}

.navigator ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;

  justify-content: space-around;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}